<header th:style="'position: relative; color: white; padding: 15px; height: 400px;'">

    <div th:style="'position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-image: url(&quot;https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80&quot;); background-size: cover; background-position: center; filter: blur(1px); z-index: -1;'">
    </div>
    <h1 th:style= "'position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 3em; color: white; font-style: italic; text-shadow: 2px 2px 4px #000000;'" th:text="'Strona internetowa'"></h1>
</header>
